{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12 mt-3 left">
                
                <h1 class="text-center">Security News Blog</h1>
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-md-6 mb-2">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title" style="color:blue">{{ post.title }}</h5>
                          <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}}  </p>

                          <p class="card-text">{{ post.content|safe|truncatechars:80 }}</p>
                          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-dark">Read More &rarr;</a>
                        </div>
                      </div>
                    </div>
                {% endfor %}

                    </div>
            </div>
            {% block sidebar %}
                {% include 'sidebar.html' %}
            {% endblock sidebar %}
        </div>
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation conatiner"></nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
        </nav>
        </div>
    {% endif %}
{%endblock%}
